* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

h1, h2, p {
    color: white;
}


/* .first-container, .second-container {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
} */


/* section styles */

.intro-container, .about-container {
    width: 100vw;
    height: 100vh;
}




#pinContainer, #pinContainer-2 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.panel {
    height: 100%;
    width: 100%;
    position: absolute;
}

.blue {
    background-color: blue
}
.turqoise {
    background-color: turquoise;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.brown {
    background-color: brown;
}
.pink {
    background-color: pink;
}


